* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Sora, sans-serif;
}

.app {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 16px;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottom-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
}

.stats {
  display: flex;
  gap: 20px;
}

.settings {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.stat {
  text-align: center;
}

.passage-section {
  margin-top: 20px;
}

.passage {
  font-size: 18px;
  line-height: 1.6;
  word-wrap: break-word;
}

textarea {
  width: 100%;
  height: 120px;
  margin-top: 12px;
  padding: 10px;
  font-size: 16px;
}


button {
  padding: 10px 12px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  border-radius: 6px;
}

button:active {
  transform: scale(0.97);
}

@media (max-width: 768px) {

  .header-top {
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }

  .header-bottom {
    flex-direction: column;
  }

  .stats {
    justify-content: space-between;
    width: 100%;
  }

  .settings {
    width: 100%;
  }

  .difficulty button,
  .mode button {
    width: 100%;
    margin-top: 5px;
  }

  .stat h2 {
    font-size: 20px;
  }

  .passage {
    font-size: 16px;
  }

  textarea {
    height: 140px;
  }
}

@media (max-width: 480px) {

  h1 {
    font-size: 18px;
  }

  .stat p {
    font-size: 12px;
  }

  .stat h2 {
    font-size: 16px;
  }

  .personal-best {
    font-size: 12px;
  }
}